
.containerCard a{
    height: 300px;
    width: 300px;
    margin: 30px 10px;
    z-index: 0;
}

.src-NewsHeaderCard-NewsHeader-styles-module__bottom--9j9uV div:first-child{
    max-width: 60%; 
}

.src-NewsHeaderCard-NewsHeaderBackground-styles-module__news-header-background--38y5L{
  transition: ease 500ms;
}

.src-NewsHeaderCard-NewsHeaderBackground-styles-module__news-header-background--38y5L:hover{
  box-shadow: 0 0 15px #00eeff;
}


.src-NewsHeaderCard-NewsHeaderBackground-styles-module__news-header-background--38y5L::before, .src-NewsHeaderCard-NewsHeaderBackground-styles-module__news-header-background--38y5L::after {
  content: '';
  position: absolute;   
  left: -8px;
  top: -8px;
  background: linear-gradient(120deg, red, green, blue, orange, green, white, black, #00c3ff, red);
  background-size: 300%;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  z-index: -1;
  animation: BGgradient 15s ease infinite;
}

@keyframes BGgradient {
  0%{background-position: 0% 200%;}
  50%{background-position: 200% 0%;}
  100%{background-position: 0% 330%;}
}

@media screen and (max-width: 818px) {
    .containerCard a{
    height: 400px;
    width: 300px;
    margin: 10px;
    z-index: 0;
    
}
}

@media screen and (max-width: 818px) {
    .containerCard a{
    height: 400px;
    
    display: flex;
    flex: 1 1;
    
    margin: 10px;
    z-index: 0;
    
}
}

