.contentFooter{
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
    
}

.contentFooter li, .contentFooter li a{
    text-decoration: none;
    list-style: none;
    color: black;
    transition: ease-in-out 200ms;
}

.contentFooter li a:hover{
    color: red;
    font-weight: bold;
}
