.slide-pane__content{
    background-color: rgb(8, 20, 53);
    
}

.containerFooter{
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.authorFooter{
    background-color: rgb(6, 12, 47);
    width: 100%;
    padding: 5px 0;
    
}

.authorFooter p{
    padding: 0 10px;
    color: #00eeff;
    transition: ease-in-out 500ms;
}

.authorFooter p:hover{
    text-shadow: 0 0 5px #00eeff;
}

.footerMovil{
    display: none;
    background-color: rgb(6, 12, 47);
}

@media screen and (max-width: 800px) {
    .footerDesktop{
        display: none;
    }

    .footerMovil{
        display: unset;
        background: rgb(6, 12, 47);
    }

    .authorFooter{
        
        font-size: 15px;
    }
}
