.acordeonFooter{
    background-color: rgb(6, 12, 47);
}

.css-i4bv87-MuiSvgIcon-root{
    color: white;
}

.listFooterMovil li{
    margin-bottom: 5px;
}

.listFooterMovil li, .listFooterMovil li a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 20px;
}