.containerHeader{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(164, 14, 14);
    padding: 10px 30px;
    margin-bottom: 200px;
}

.links{
    display: flex;
    list-style: none;
    
}

.links a{
    color: white;
    margin-left: 13px;
}