.containerHome{
    max-width: 1080px;
    margin: 0 auto;
    
    
}

.containerCard{
    
    display: flex;
    
}

@media screen and (max-width: 800px) {
    .containerCard{
        display: none;
    }

    

}


@media screen and (max-width: 1290px){
       .containerCard{
        justify-content: center;  
    }

}

@media screen and (max-width: 800px) {
   .containerHome{
    padding: 0;
    position: relative;
    top: 100px;

   }
}