.menuMovil{
    display: none;
    
}

.MuiDrawer-paper {
    border-left: 5px solid red;
}


.listMenumovil1 li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 20px;
}

.listMenumovil1 li:first-child{
    color: red;
}

.listMenumovil1 li a{
    text-decoration: none;
    color: black;
}

.listMenumovil2 li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 20px;
}

.listMenumovil2 li a{
    text-decoration: none;
    color: black;
}

.listMenumovil2 li:first-child{
    color: red;
}


@media screen and (max-width: 800px) {

    .menuMovil{
        display: unset;
        
    }
}