.navigation{
    color: white;
    margin: 250px 0 150px 0;
    width: 100%;
    
}

.navigation ul{
    
    display: flex;
   justify-content: center;
}

.navigation ul li{
    color: white;
    text-decoration: none;
    list-style: none;
    margin: 10px;
}

.navigation ul a{
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.navigation ul a:hover{
    border-bottom: 1px solid red;
    color: red;
}