.navigation{
    color: white;
    margin: 250px 0 150px 0;
    width: 100%;
    
}

.navigation ul{
    width: 70%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navigation ul li{
    color: white;
    text-decoration: none;
    list-style: none;
    
}

.navigation ul a{
    list-style: none;
    text-decoration: none;
    color: white;
    
}

.navigation ul a:hover{
    border-bottom: 1px solid red;
    color: red;
}