@media screen and (max-width: 800px) {
    .slide-container{
        position: relative;
        top: 89px;
    }
}

@media screen and (max-width: 531px) {
    .slide-container{
        position: relative;
        top: 70px;
    }
}