.slide-pane_from_bottom{
    position: absolute;
    bottom: 0;
    height: 20em;
    color: black;
    box-sizing: border-box;
    border-bottom: 5px solid rgb(6, 12, 47);
    
}

.slide-pane__header{
    background-color: rgb(6, 12, 47);
    color: white;
}

.buttonFooter{
   max-width: 1300px;
   margin: 0 auto -8px;
   display: flex;
   justify-content: center;
}

.buttonFooter button{
    border: none;
    padding: 5px;
    transition: ease-in-out 400ms;
    color: white;
    background-color: rgb(6, 12, 47);
    border-radius: 4px;
    display: flex;
    align-items: center;
   
}

.buttonFooter button:hover{
    background-color: rgb(6, 12, 47);
}