@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500;900&family=Josefin+Sans:wght@300;600;700&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Open+Sans&family=Roboto+Mono:ital,wght@1,700&family=Roboto:wght@400;500;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 331px;
  
  height: 100vh;
  color: #fff;
  background: linear-gradient(45deg,rgb(109, 17, 132),rgb(27, 151, 223),rgb(60, 10, 73),rgb(5, 5, 61),rgb(109, 17, 132),rgb(5, 5, 66) ,rgb(109, 17, 132),rgb(47, 18, 75),rgb(5, 5, 61),rgb(109, 17, 132),rgb(27, 151, 223));
  background-size: 400% 1200%;
  position: relative;
  animation: animarBody 20s ease infinite;
}

@keyframes animarBody {
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
